body, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #222;
}

.clearfix::after {
    content: ' ';
    display: block;
    clear: both;
}

.wrapper {
    width: 800px;
    margin: 100px auto;
}

.sq {
    color: #fff;
    background-color: #111;
    /* overflow: hidden; */
    padding: 1rem;
}

.sq-item {
    float: left;
    width: 25%;
    height: 25%;
    padding-top: 25%;
    position: relative;
}

.sq-item-large {
    width: 50%;
    padding-top: 50%;    
}

.sq-item-long {
    padding-top: 75%;
}

.sq-item-wide {
    width: 50%;
}

.sq-item-float-right {
    float: right;
}

.sq-item-anchor {
    background-color: orange;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    overflow: hidden;
    opacity: 0.5;
    /* transition: transform 1s; */
    transition: all 1s;
    border: 0 solid #fff;
    border-radius: 10px;
}

.sq-item-anchor::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    z-index: 10;
}

.sq-item-anchor:hover {
    /* transform: scale(1.3); */
    margin: -1.5rem;
    z-index: 30;
    border-width: 10px;
    font-size: 4rem;
    /* border: 10px solid #fff; */
    opacity: 1;
    box-shadow: 0 0 30px 50px rgba(0, 0, 0, 0.5);
}

.sq-item-anchor-cover {
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
}

.sq-item-anchor-title {
    position: relative;
    z-index: 20;
}